<h3 mat-dialog-title>Articles Family Creator</h3>
<mat-dialog-content>
  <app-providers-dropdown class="full-width"  [(ngModel)]="newArticles.provider"  [providerIn]="newArticles.provider" (providerOut)="getProvider($event)"></app-providers-dropdown>
  <br>
  <mat-form-field class="full-width">
    <input [(ngModel)]="newArticles.description"  cdkFocusInitial matInput placeholder="Description" required type="String"/>
  </mat-form-field><br>
  <label>Size: </label><br><br>
  <mat-radio-group [(ngModel)]="newArticles.size">
    <mat-radio-button *ngFor="let type of typeSize" [value]=type.id>
      {{type.name}}
    </mat-radio-button>
  </mat-radio-group>
  <br><br>
  <div *ngIf="newArticles.size==1">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="newArticles.fromSize" >
        <mat-option *ngFor="let size of sizeInternationals" [value]="size.id">
          {{size.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="newArticles.toSize" >
        <mat-option *ngFor="let size of sizeInternationals" [value]="size.id">
          {{size.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="newArticles.size==2">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="newArticles.fromSize" >
        <mat-option *ngFor="let size of sizeNumbers" [value]="size.id">
          {{size.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="newArticles.toSize" >
        <mat-option *ngFor="let size of sizeNumbers" [value]="size.id">
          {{size.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field class="full-width">
      <input [(ngModel)]="newArticles.increment"  cdkFocusInitial matInput placeholder="Increment" required type="Number"/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Create Articles</span>
  </button>
</mat-dialog-actions>

