<h3 mat-dialog-title>Articles Family Creator</h3>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Provider</mat-label>
    <mat-select [(ngModel)]="newArticles.provider">
      <mat-option *ngFor="let provider of providers" [value]="provider.id">
        {{provider.company}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input [(ngModel)]="newArticles.reference" matInput placeholder="Reference" required
           type="String"/>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input [(ngModel)]="newArticles.description" cdkFocusInitial matInput placeholder="Description" required
           type="String"/>
  </mat-form-field>
  <br>
  <label>Size: </label><br><br>
  <mat-radio-group [(ngModel)]="newArticles.sizeType">
    <mat-radio-button *ngFor="let sizeType of type" [value]=sizeType.id class="media-width">
      {{sizeType.name}}
    </mat-radio-button>
  </mat-radio-group>
  <br><br>
  <div *ngIf="newArticles.sizeType=='1'">
    <mat-form-field class="media-width">
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="newArticles.fromSize">
        <mat-option *ngFor="let size of sizeInternational" [value]="size.id">
          {{size.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="media-width">
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="newArticles.toSize">
        <mat-option *ngFor="let size of sizeInternational" [value]="size.id">
          {{size.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="newArticles.sizeType=='2'">
    <mat-form-field class="media-width">
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]="newArticles.fromSize">
        <mat-option *ngFor="let size of sizeNumber" [value]="size.id">
          {{size.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="media-width">
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]="newArticles.toSize">
        <mat-option *ngFor="let size of sizeNumber" [value]="size.id">
          {{size.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="media-width">
      <input [(ngModel)]="newArticles.increment" cdkFocusInitial matInput placeholder="Increment" required
             type="Number"/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="createArticleFamily()" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Create Articles</span>
  </button>
</mat-dialog-actions>


