<h3 mat-dialog-title>Show Tag</h3>
<mat-dialog-content>
  <h3>ID: {{tag.id}}</h3>
  <p>Description: <strong>{{tag.description}}</strong></p>
  <p>Linked Articles:</p>
  <ul *ngFor='let article of data.obj.articles'>
    <li>{{article.description}}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="showTag()" color="primary" mat-raised-button>
    <mat-icon>local_tag</mat-icon>
    <span>Show Tag</span>
  </button>
</mat-dialog-actions>
