<h3 mat-dialog-title>Sending's Detail</h3>
<mat-dialog-content>

  <mat-label><strong>TicketID:</strong> <br/>
    {{sendings.id}}
  </mat-label>
  <br/>

  <mat-label><strong>Username:</strong> <br/>
    {{sendings.username}}
  </mat-label>
  <br/>

  <mat-label><strong>Reference:</strong> <br/>
    {{sendings.reference}}
  </mat-label>
  <br/>

  <mat-label><strong>CreationDate:</strong> <br/>
    {{sendings.creationDate}}
  </mat-label>
  <br/>

  <mat-label><strong>Estado:</strong> <br/>
    {{sendings.estado}}
  </mat-label>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
