<h3 *ngIf="!flag" mat-dialog-title>Create Customer Discount</h3>
<h3 *ngIf="flag" mat-dialog-title>Update Customer Discount</h3>

<mat-dialog-content>
  <mat-form-field *ngIf="!flag">
    <input [(ngModel)]="customerDiscount.mobile" matInput placeholder="User Mobile"
           type="String">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="customerDiscount.discount" matInput placeholder="Discount"
           >
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="customerDiscount.minimumPurchase" matInput placeholder="Minimum Purchase"
           type="Number">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="customerDiscount.description" matInput placeholder="Description"
           type="String">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="createDiscount()" *ngIf="!flag" color="primary" mat-raised-button>Create</button>
  <button (click)="updateDiscount()" *ngIf="flag" color="primary" mat-raised-button>Update</button>
</mat-dialog-actions>
