<h3 mat-dialog-title>Create User</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="user.mobile" [formControl]="mobileFormControl" matInput
           placeholder="Mobile" type="number"/>
    <mat-error *ngIf="mobileFormControl.invalid">{{getErrorMessageMobile()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.username" [formControl]="usernameFormControl" matInput
           placeholder="Username" type="text"/>
    <mat-error *ngIf="usernameFormControl.invalid">{{getErrorMessageUsername()}}</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button [mat-dialog-close]="null">Cancel</button>
  <button (click)="createUser()" [disabled]="invalidUser()" color="primary" mat-raised-button>Create
  </button>
</mat-dialog-actions>
