<h3 mat-dialog-title>Ticket Tracking</h3>
<mat-dialog-content>
  <div *ngIf="ticket.reference">
    <h4>Reference number</h4>
    <p>{{ticket.reference}}</p>
  </div>
  <div *ngIf="ticket.shoppingList">
    <h4>Shopping states</h4>
    <div *ngFor="let item of ticket.shoppingList; index as i;">
      <span>{{item.articleId}}</span>
      <span>{{item.shoppingState}}</span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
