<h4 mat-dialog-title>Ticket Tracking</h4>
<mat-dialog-content>
  <div *ngIf="ticket.reference">
    <p>Reference number: {{ticket.reference}}</p>
  <div *ngIf="ticket.shoppingList && ticket.shoppingList.length > 0">
    <table>
      <tr>
        <th>Article ID</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let item of ticket.shoppingList">
        <td>{{item.code}}</td>
        <td>{{item.shoppingState}}</td>
      </tr>
    </table>
  </div>
  </div>
  <div *ngIf="ticket.reference == null">
    <p>Reference number not valid</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
