<h4 mat-dialog-title>{{title}}</h4>
<mat-dialog-content>
  <div *ngIf="ticket.reference == null">
    <p>The reference number is not valid.</p>
  </div>
  <div *ngIf="everyArticleIsCommitted()">
    <p>The reference number has expired!</p>
  </div>
  <div *ngIf="someArticleIsNotCommitted()">
    <p><b>Reference number:</b> {{ticket.reference}}</p>
    <table>
      <tr>
        <th>Article ID</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let item of filteredTicket()">
        <td>{{item.code}}</td>
        <td>{{item.description}}</td>
        <td>{{item.shoppingState}}</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
