<mat-toolbar color="primary"></mat-toolbar>
<mat-card>
<mat-card-title>{{title}}</mat-card-title>
<mat-card-content>
  <div *ngIf="ticket.reference == null">
    <p>The reference number is not valid.</p>
  </div>
  <div *ngIf="everyArticleIsCommitted(ticket)">
    <p>The reference number has expired!</p>
  </div>
  <div *ngIf="someArticleIsNotCommited(ticket)">
    <p><b>Reference number:</b> {{ticket.reference}}</p>
    <div *ngIf="ticket.shoppingList && ticket.shoppingList.length > 0">
      <table>
        <tr>
          <th>Article ID</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let item of ticket.shoppingList">
          <td>{{item.code}}</td>
          <td>{{item.description}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.shoppingState}}</td>
        </tr>
      </table>
    </div>
  </div>
</mat-card-content>
</mat-card>
