<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="articleFamily.reference" matInput placeholder="Reference">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="articleFamily.familyType" matInput placeholder="Family Type">
    </mat-form-field>
    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<!-- Default: [createAction]="true" [readAction]="true" [updateAction]="true" [deleteAction]="true"-->
<app-crud (delete)=delete($event)
          [columns]="columns" [data]="data" [deleteAction]="true" [title]="title"></app-crud>
