<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="articleFamily.reference" matInput placeholder="Reference">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Family Type</mat-label>
      <mat-select [(value)]="articleFamily.familyType" required type="string">
        <mat-option value="ARTICLE">ARTICLE</mat-option>
        <mat-option value="SIZES">SIZES</mat-option>
        <mat-option value="ARTICLES">ARTICLES</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" color="primary" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<app-crud (create)="create()" (read)="read($event)" (update)="update($event)" (delete)=delete($event)
          [columns]="columns" [data]="data" [deleteAction]="true" [title]="title"></app-crud>
