<mat-card style="text-align: center;">
  <mat-card-title> Send a message to a co-worker</mat-card-title>
  <mat-card-content>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Message:</mat-label>
        <textarea cols="100" matInput placeholder="Type here your message" rows="10"></textarea>
        <mat-hint>Happy messages make happy workers</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>For:</mat-label>
        <input matInput placeholder="UserName">
        <mat-hint>Happy messages make happy workers</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <button color="primary" mat-raised-button>Send message</button>
    </p>
  </mat-card-content>
</mat-card>
