<div class="vat-management">
  <h3>Quarterly VAT Management</h3>
  <mat-divider style="margin-bottom: 10px"></mat-divider>
  <mat-form-field>
    <mat-label>Select the quarter</mat-label>
    <mat-select [(ngModel)]="selectedValue" (selectionChange)="getVatData()" [formControl]="quarterControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let quarter of quarters" [value]="quarter">
        {{quarter}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="quarterControl.hasError('required')">Please choose a quarter</mat-error>
  </mat-form-field>
  <ng-container *ngIf="selectedValue != undefined">
    <table [dataSource]="this.dataSource" class="mat-elevation-z8" mat-table>

      <ng-container matColumnDef="tax">
        <th *matHeaderCellDef mat-header-cell> Tax</th>
        <td *matCellDef="let element" mat-cell> {{element.tax}} </td>
      </ng-container>

      <ng-container matColumnDef="percentageApplied">
        <th *matHeaderCellDef mat-header-cell> Percentage Applied</th>
        <td *matCellDef="let element" mat-cell> {{element.percentageApplied*100}}%</td>
      </ng-container>

      <ng-container matColumnDef="taxableAmount">
        <th *matHeaderCellDef mat-header-cell> Taxable Amount</th>
        <td *matCellDef="let element" mat-cell> {{element.taxableAmount}}€</td>
      </ng-container>

      <ng-container matColumnDef="vat">
        <th *matHeaderCellDef mat-header-cell> VAT</th>
        <td *matCellDef="let element" mat-cell> {{element.vat}}€</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </ng-container>
</div>

