<div class="vat-management">
  <h3>Quarterly VAT Management</h3>
  <mat-divider style="margin-bottom: 10px"></mat-divider>
  <mat-form-field>
    <mat-label>Select the quarter</mat-label>
    <mat-select [formControl]="quarterControl" [(ngModel)]="selectedValue" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let quarter of quarters" [value]="quarter">
        {{quarter}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="quarterControl.hasError('required')">Please choose a quarter</mat-error>
  </mat-form-field>
  <ng-container *ngIf="selectedValue != undefined">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> VAT Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="taxableAmount">
        <th mat-header-cell *matHeaderCellDef> Taxable Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.taxableAmount}}% </td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.totalAmount}}€ </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>

