<h3 mat-dialog-title>Change Password</h3>
<form [formGroup]="passwordGroup">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" formControlName="new_password" required/>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Confirm new Password" type="password" formControlName="confirm_new_password"
             required/>
    </mat-form-field>
    <div *ngIf="passwordsDifferent()" class="alert">Las contraseñas no coinciden</div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="changePassword()" mat-button mat-dialog-close [disabled]="!formIsValid()">Confirm changes
    </button>
  </mat-dialog-actions>
</form>
