<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content [ngClass]="">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Dynamic column -->
      <ng-container *ngFor="let def of columns, let i = index" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef>{{ getAlias(i) | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[def] }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columns;" (click)="onShowArticleInfo(item)" [ngClass]="{'selected-item': isSelected(item)}"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
