<h3 mat-dialog-title>Edit Order</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="order.description" cdkFocusInitial matInput
           placeholder="Description"
           required type="String"/>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="provider.company" disabled
           matInput
           placeholder="Provider Id"
           required type="String"/>
  </mat-form-field>
  <mat-divider></mat-divider>
  <h4 mat-dialog-title>Order's Articles</h4>
      <ng-container *ngFor="let orderLine of order.orderLines">
        <mat-form-field>
          <input [(ngModel)]="orderLine.article" disabled
                 matInput
                 placeholder="Article"
                 required type="String"/>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="orderLine.requiredAmount"
                 matInput
                 placeholder="Required Amount"
                 required type="number"/>
        </mat-form-field>
        <button (click)="deleteOrderLine(orderLine)" mat-raised-button><span>X</span></button>
      </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="editOrder()" *ngIf="order.closingDate == null" color="primary" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Edit Order</span>
  </button>
  <button (click)="closeOrder()" *ngIf="order.closingDate == null" color="accent" mat-raised-button>
    <mat-icon>local_offer</mat-icon>
    <span>Close Order</span>
  </button>
</mat-dialog-actions>
