<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>From Date</mat-label>
      <input #closureDate="ngModel" [(ngModel)]="modelCashierClosureSearch.closureDate" [matDatepicker]="closureDate"
             matInput>
      <mat-datepicker #closureDate></mat-datepicker>
    </mat-form-field>
    <mat-datepicker-toggle [for]="closureDate"></mat-datepicker-toggle>
    <br>
    <mat-form-field>
      <input #finalCash= "ngModel" [(ngModel)]="modelCashierClosureSearch.finalCash" placeholder="Final Cash >="
      type="number" min="0" matInput/>
    </mat-form-field>
    <button (click)="search()" color="primary" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<app-crud [columns]="columns" [createAction]="false" [data]="data" [readAction]="false" [deleteAction]="false" [title]="title"
          [updateAction]="false"></app-crud>
